<!DOCTYPE html>
<html>
<head>
    <title>Página HTML com Input e Botão</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Exemplo de Página HTML</h1>
    <form action="/player" method="post">
        <label for="input-text" class="teste">Digite algo:</label>
        <input type="text" id="input-text" name="summoner_name">
        <button type="submit">Enviar</button>
    </form>
    <div id="historyContainer"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/blueprints/main/static/js/index/teste.js" ></script>
</html>