<!DOCTYPE html>
<html>
<body>
    <h2>Nick BR1:</h2>
    <form action="/" method="POST">
        <input type="text" name="summoner_name" required>
        <input type="text" name="tag" required>
        <input type="submit" value="Submit">
    </form>
    <h2 id="teste"></h2>

    <div id="historyContainer"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("form").submit(function(event) {
                event.preventDefault();  // Prevent default form submission behavior

                // Get summoner name from the input field
                var summonerName = $("input[name='summoner_name']").val();
                var tag = $("input[name='tag']").val();
                
                // Send an AJAX request to the backend
                $.ajax({
                    type: "POST",
                    url: "/",
                    data: { summoner_name: summonerName, tag: tag },
                    success: function(response) {
                        console.log(response);
                        console.log(response["puuid"]);
                        $("#teste").text(response["puuid"]);
                    }
                });
            });
        });
    </script>
</body>
</html>
